body
{
	margin: 0;
	padding: 0;
}

a, a:active, a:visited, a:hover
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
}

.application, .page
{
	margin: 10px auto;
	width: 1024px;
}

p code
{
  font-weight: bold;
  font-style: italic;
  font-family: inherit;
}
