!!!
%html
  %head
    %link{ rel: :stylesheet, href: theme_path, type: 'text/css' }
    %link{ rel: :stylesheet, href: asset_path('css/base.css'), type: 'text/css' }

  %title= title
  %body
    .page
      .title
        %h1=title
        %a{href: '/'}="&lt; Back"
      .body
        = yield
