- if auth.configurable?
  %input{ type: 'submit', value: 'Try it' }
  %input.clear.hidden{ type: 'button', value: 'Clear' }
  .response.hidden
    %p="Url:"
    .url
    %p="Query:"
    .query
    %p="Code:"
    .code
    %p="Headers:"
    .headers
    %p="Body:"
    .body
