- if auth.configurable?
  %input{ type: 'submit', value: 'Try it' }
  %input.clear.hidden{ type: 'button', value: 'Clear' }
  .response.hidden
    %p="Url:"
    %pre
      %code.url.http
    %p="Query:"
    %pre
      %code.query.http
    %p="Code:"
    %pre
      %code.code.http
    %p="Headers:"
    %pre
      %code.headers.json
    %p="Body:"
    %pre
      %code.body.json
